

.box {
  background-image: url(CSS/Desktop_Backgrounds.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 822px;
  width: 1315px;
  left: -116px;
  top: -22px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .container1 {
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 15rem;
  }
  
  
  .navigation {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: row;
    margin-bottom: 150;
   
    
    /* padding: 20px;
    margin: 40px 30px; */
    
  }
  
  .navigation li {
    margin-right: 150px;
  }
  
  .navigation li:last-child {
    margin-right: 20px;
  }
  
  .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  
  .header-logo {
    align-self: flex-start;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .hero h1 {
      margin-bottom: 10px;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: #FFFFFF;
      
    }
  
    .hero h3  {
      margin-top: 10px;
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
  
      color: rgba(255, 255, 255, 0.7);
  
    } 
  
   .logo {
  
      margin-top: 15%;
   }
  
  
  /*  box 2 */
  
   .box2 {
  
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 400px; 
      display: flex;
      align-items: center;
      justify-content:center;
      height: 650px;
      width: 1315px;
      left: -116px;
      top: -22px;
      border-radius: 0px; }
  
   .main {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
   .main h2 {
     
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
  
      text-align: center;
      color: #464547;
   }
      
  
   .main h3 {
   
   font-family: 'Source Sans Pro';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 32px;
   text-align: center;
   color: #666666
  
  }
  
  .container {
    display: flex;
    
    
  }
  
  .column {
    flex: 1 ;
    margin: 10px;
    
    
  }
  
  .button {   
    margin-bottom: 40%;
    font-family: "Oswald", sans-serif;
    display: inline-block;
    margin-top: 1rem;
    background-color: #55c2d8;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    text-transform: uppercase;
    background: #55C2D8;
    border-radius: 18px;
  
    }
  
  
    /* the third box */
  
  .box3 {
      background-image: url(CSS/Learn-more.png);  
      
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 400px; 
      display: flex;
      align-items: center;
      justify-content:center;
      height: 822px;
      width: 1315px;
      left: -116px;
      top: -22px;
      border-radius: 0px; }
  
   .learn-more h2 { 
      margin-top: auto;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: #FFFFFF;
      background-blend-mode: overlay;
      
  
   }
   .video-btn {
      display: flex;
      margin: auto;
    }
  
  .learn-more p {
  
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  }
  
  /* <!- the footer box  --> */
  
  .box4 {
      background-color: #464547;
      color: rgba(255, 255, 255, 0.4);
      padding-left: 7.3rem;
      width: 1200px;
      height: 170px;
      left: 0px;
      top: 2166px;
    }
  
    img {
  
      left: 0%;
      right: 0%;
      top: 0%;
      bottom: 0%;
      
  
    }
  
   .project-text {
  
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      
      color: #FFFFFF;
  
   }
  
   .footer-list {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  list-style: none;
  color: rgba(255, 255, 255, 0.4);
    }
    
    .footer-list li:nth-child(2) {
      margin-bottom: 70px; 
    }
    .grid-3-col {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    
    .rights {
      grid-column: 3; 
      align-self: end;
    }
  
  
  